    Problem Statement.
    
    Table: Customers
    
    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | customer_id   | int     |
    | customer_name | varchar |
    +---------------+---------+
    customer_id is the column with unique values for this table.
    Each row of this table contains the name and the id customer.
    
     
    
    Write a solution to find the missing customer IDs. The missing IDs are ones that are not in the Customers table but are in the range between 1 and the maximum customer_id present in the table.
    
    Notice that the maximum customer_id will not exceed 100.
    
    Return the result table ordered by ids in ascending order.
    
    The result format is in the following example.
    
     
    
    Example 1:
    
    Input: 
    Customers table:
    +-------------+---------------+
    | customer_id | customer_name |
    +-------------+---------------+
    | 1           | Alice         |
    | 4           | Bob           |
    | 5           | Charlie       |
    +-------------+---------------+
    Output: 
    +-----+
    | ids |
    +-----+
    | 2   |
    | 3   |
    +-----+
    Explanation: 
    The maximum customer_id present in the table is 5, so in the range [1,5], IDs 2 and 3 are missing from the table.

# RECURSIVE

In [1]:
WITH RECURSIVE cte AS(
    SELECT 
        1 AS customer_id
    UNION ALL
    SELECT 
        customer_id+1
    FROM cte 
    WHERE customer_id < (SELECT MAX(customer_id ) FROM Customers)
)
SELECT 
    customer_id AS ids
FROM cte
WHERE customer_id NOT IN (SELECT customer_id from Customers)
ORDER BY customer_id