Problem Statement.

Table: Employee

<br/>+-------------+---------+
<br/>| Column Name | Type    |
<br/>+-------------+---------+
<br/>| id          | int     |
<br/>| name        | varchar |
<br/>| department  | varchar |
<br/>| managerId   | int     |
<br/>+-------------+---------+
<br/>id is the primary key (column with unique values) for this table.
Each row of this table indicates the name of an employee, their department, and the id of their manager.
If managerId is null, then the employee does not have a manager.
No employee will be the manager of themself.

 

Write a solution to find managers with at least five direct reports.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
<br/>+-----+-------+------------+-----------+
<br/>| id  | name  | department | managerId |
<br/>+-----+-------+------------+-----------+
<br/>| 101 | John  | A          | null      |
<br/>| 102 | Dan   | A          | 101       |
<br/>| 103 | James | A          | 101       |
<br/>| 104 | Amy   | A          | 101       |
<br/>| 105 | Anne  | A          | 101       |
<br/>| 106 | Ron   | B          | 101       |
<br/>+-----+-------+------------+-----------+
<br/>Output: 
<br/>+------+
<br/>| name |
<br/>+------+
<br/>| John |
<br/>+------+

# GROUP BY CTE

In [3]:
WITH managers AS (
    SELECT 
        managerId
    FROM 
        Employee
    GROUP BY 
        managerId
    HAVING
        COUNT(*) >= 5
)
SELECT
    name
FROM
    Employee e
JOIN
    managers m
ON 
    e.id = m.managerId