Problem Statement.

Table: Activity

<br/>+--------------+---------+
<br/>| Column Name  | Type    |
<br/>+--------------+---------+
<br/>| player_id    | int     |
<br/>| device_id    | int     |
<br/>| event_date   | date    |
<br/>| games_played | int     |
<br/>+--------------+---------+
(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.

 

Write a solution to find the first login date for each player.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Activity table:
<br/>+-----------+-----------+------------+--------------+
<br/>| player_id | device_id | event_date | games_played |
<br/>+-----------+-----------+------------+--------------+
<br/>| 1         | 2         | 2016-03-01 | 5            |
<br/>| 1         | 2         | 2016-05-02 | 6            |
<br/>| 2         | 3         | 2017-06-25 | 1            |
<br/>| 3         | 1         | 2016-03-02 | 0            |
<br/>| 3         | 4         | 2018-07-03 | 5            |
<br/>+-----------+-----------+------------+--------------+
<br/>Output: 
<br/>+-----------+-------------+
<br/>| player_id | first_login |
<br/>+-----------+-------------+
<br/>| 1         | 2016-03-01  |
<br/>| 2         | 2017-06-25  |
<br/>| 3         | 2016-03-02  |
<br/>+-----------+-------------+

# GROUP BY

In [1]:
SELECT
    player_id,
    MIN(event_date) AS first_login
FROM Activity
GROUP BY player_id