Problem Statement.

Table: Person

<br/>+-------------+---------+
<br/>| Column Name | Type    |
<br/>+-------------+---------+
<br/>| id          | int     |
<br/>| email       | varchar |
<br/>+-------------+---------+
<br/>id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.

 

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.

For Pandas users, please note that you are supposed to modify Person in place.

After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.

The result format is in the following example.

 

Example 1:

Input: 
Person table:
<br/>+----+------------------+
<br/>| id | email            |
<br/>+----+------------------+
<br/>| 1  | john@example.com |
<br/>| 2  | bob@example.com  |
<br/>| 3  | john@example.com |
<br/>+----+------------------+
<br/>Output: 
<br/>+----+------------------+
<br/>| id | email            |
<br/>+----+------------------+
<br/>| 1  | john@example.com |
<br/>| 2  | bob@example.com  |
<br/>+----+------------------+
<br/>Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.

# CROSS JOIN

In [ ]:
DELETE 
    p1 
FROM person p1,
     person p2
WHERE
    p1.Email = p2.Email 
    AND p1.Id > p2.Id

# RANK

In [ ]:
WITH ranked_ids AS (
    SELECT
        id,
        RANK() OVER (PARTITION BY email ORDER BY id) as rank_val
    FROM
        Person
)
DELETE
    FROM Person
WHERE id IN (
    SELECT 
        id 
    FROM ranked_ids
    WHERE rank_val > 1
)

# MIN AND NOT IN

In [ ]:
WITH min_ids AS (
    SELECT 
        MIN(Id) 
    FROM Person 
    GROUP BY Email
)
DELETE 
FROM Person 
WHERE Id NOT IN
(
    SELECT 
        *
    FROM min_ids
)