    Problem Statement.

    Table: Student

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | name        | varchar |
    | continent   | varchar |
    +-------------+---------+
    This table may contain duplicate rows.
    Each row of this table indicates the name of a student and the continent they came from.
    
     
    
    A school has students from Asia, Europe, and America.
    
    Write a solution to pivot the continent column in the Student table so that each name is sorted alphabetically and displayed underneath its corresponding continent. The output headers should be America, Asia, and Europe, respectively.
    
    The test cases are generated so that the student number from America is not less than either Asia or Europe.
    
    The result format is in the following example.
    
     
    
    Example 1:
    
    Input: 
    Student table:
    +--------+-----------+
    | name   | continent |
    +--------+-----------+
    | Jane   | America   |
    | Pascal | Europe    |
    | Xi     | Asia      |
    | Jack   | America   |
    +--------+-----------+
    Output: 
    +---------+------+--------+
    | America | Asia | Europe |
    +---------+------+--------+
    | Jack    | Xi   | Pascal |
    | Jane    | null | null   |
    +---------+------+--------+
    
     
    
    Follow up: If it is unknown which continent has the most students, could you write a solution to generate the student report?

# Window Function

In [2]:
WITH america AS (
    SELECT 
        name,
        ROW_NUMBER() OVER (ORDER BY name) AS row_id
    FROM Student
    WHERE continent = 'America'
),
asia AS (
    SELECT 
        name,
        ROW_NUMBER() OVER (ORDER BY name) AS row_id
    FROM Student
    WHERE continent = 'Asia'
),
europe AS (
    SELECT 
        name,
        ROW_NUMBER() OVER (ORDER BY name) AS row_id
    FROM Student
    WHERE continent = 'Europe'
)
SELECT
    a.name AS America,
    b.name AS Asia,
    c.name AS Europe
FROM America a
LEFT JOIN Asia b
ON a.row_id = b.row_id
LEFT JOIN Europe c
ON a.row_id = c.row_id

# Session Variable

In [1]:
SELECT 
    America, Asia, Europe
FROM
    (SELECT @as:=0, @am:=0, @eu:=0) t,
    (SELECT 
        @as:=@as + 1 AS asid, name AS Asia
    FROM
        student
    WHERE
        continent = 'Asia'
    ORDER BY Asia) AS t1
        RIGHT JOIN
    (SELECT 
        @am:=@am + 1 AS amid, name AS America
    FROM
        student
    WHERE
        continent = 'America'
    ORDER BY America) AS t2 ON asid = amid
        LEFT JOIN
    (SELECT 
        @eu:=@eu + 1 AS euid, name AS Europe
    FROM
        student
    WHERE
        continent = 'Europe'
    ORDER BY Europe) AS t3 ON amid = euid