Problem Statement.

Table: Activity

<br/>+--------------+---------+
<br/>| Column Name  | Type    |
<br/>+--------------+---------+
<br/>| player_id    | int     |
<br/>| device_id    | int     |
<br/>| event_date   | date    |
<br/>| games_played | int     |
<br/>+--------------+---------+
<br/>(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.

Write a solution to report the fraction of players that logged in again on the day after the day they first logged in, rounded to 2 decimal places. In other words, you need to determine the number of players who logged in on the day immediately following their initial login, and divide it by the number of total players.

The result format is in the following example.

 

Example 1:

Input: 
Activity table:
<br/>+-----------+-----------+------------+--------------+
<br/>| player_id | device_id | event_date | games_played |
<br/>+-----------+-----------+------------+--------------+
<br/>| 1         | 2         | 2016-03-01 | 5            |
<br/>| 1         | 2         | 2016-03-02 | 6            |
<br/>| 2         | 3         | 2017-06-25 | 1            |
<br/>| 3         | 1         | 2016-03-02 | 0            |
<br/>| 3         | 4         | 2018-07-03 | 5            |
<br/>+-----------+-----------+------------+--------------+
<br/>Output: 
<br/>+-----------+
<br/>| fraction  |
<br/>+-----------+
<br/>| 0.33      |
<br/>+-----------+
Explanation: 
Only the player with id 1 logged back in after the first day he had logged in so the answer is 1/3 = 0.33

# CTE

In [2]:
# Write your MySQL query statement below
WITH first_login AS (
    SELECT
        player_id,
        MIN(event_date) AS first_login
    FROM
        Activity
    GROUP BY 
        player_id
),
targeted_players AS (
    SELECT 
        a.player_id
    FROM 
        first_login a
    JOIN 
        Activity b
    ON a.player_id = b.player_id
    AND DATEDIFF(b.event_date, a.first_login) = 1
)
SELECT 
    ROUND(COUNT(t.player_id) / COUNT(a.player_id), 2) AS fraction
FROM
    first_login a
LEFT JOIN
    targeted_players t
ON a.player_id = t.player_id