Problem Statement.

Table: Employee

<br/> +-------------+------+
<br/> | Column Name | Type |
<br/> +-------------+------+
<br/> | id          | int  |
<br/> | salary      | int  |
<br/> +-------------+------+
<br/> id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.

 

Write a solution to find the nth highest distinct salary from the Employee table. If there are less than n distinct salaries, return null.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
<br/> +----+--------+
<br/> | id | salary |
<br/> +----+--------+
<br/> | 1  | 100    |
<br/> | 2  | 200    |
<br/> | 3  | 300    |
<br/> +----+--------+
<br/> n = 2
Output: 
<br/> +------------------------+
<br/> | getNthHighestSalary(2) |
<br/> +------------------------+
<br/> | 200                    |
<br/> +------------------------+

Example 2:

Input: 
Employee table:
<br/> +----+--------+
<br/> | id | salary |
<br/> +----+--------+
<br/> | 1  | 100    |
<br/> +----+--------+
<br/> n = 2
Output: 
<br/> +------------------------+
<br/> | getNthHighestSalary(2) |
<br/> +------------------------+
<br/> | null                   |
<br/> +------------------------+

# Limit and Offset

In [ ]:
SELECT
    IFNULL(
      (SELECT DISTINCT Salary
       FROM Employee
       ORDER BY Salary DESC
        LIMIT 1 OFFSET 1),
    NULL) AS SecondHighestSalary