    Problem Statement.

    Table: Movies

    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | movie_id      | int     |
    | title         | varchar |
    +---------------+---------+
    movie_id is the primary key for this table.
    title is the name of the movie.



    Table: Users

    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | user_id       | int     |
    | name          | varchar |
    +---------------+---------+
    user_id is the primary key for this table.



    Table: MovieRating

    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | movie_id      | int     |
    | user_id       | int     |
    | rating        | int     |
    | created_at    | date    |
    +---------------+---------+
    (movie_id, user_id) is the primary key for this table.
    This table contains the rating of a movie by a user in their review.
    created_at is the user's review date. 



    Write an SQL query to:

        Find the name of the user who has rated the greatest number of movies. In case of a tie, return the lexicographically smaller user name.
        Find the movie name with the highest average rating in February 2020. In case of a tie, return the lexicographically smaller movie name.

    The query result format is in the following example.



    Example 1:

    Input: 
    Movies table:
    +-------------+--------------+
    | movie_id    |  title       |
    +-------------+--------------+
    | 1           | Avengers     |
    | 2           | Frozen 2     |
    | 3           | Joker        |
    +-------------+--------------+
    Users table:
    +-------------+--------------+
    | user_id     |  name        |
    +-------------+--------------+
    | 1           | Daniel       |
    | 2           | Monica       |
    | 3           | Maria        |
    | 4           | James        |
    +-------------+--------------+
    MovieRating table:
    +-------------+--------------+--------------+-------------+
    | movie_id    | user_id      | rating       | created_at  |
    +-------------+--------------+--------------+-------------+
    | 1           | 1            | 3            | 2020-01-12  |
    | 1           | 2            | 4            | 2020-02-11  |
    | 1           | 3            | 2            | 2020-02-12  |
    | 1           | 4            | 1            | 2020-01-01  |
    | 2           | 1            | 5            | 2020-02-17  | 
    | 2           | 2            | 2            | 2020-02-01  | 
    | 2           | 3            | 2            | 2020-03-01  |
    | 3           | 1            | 3            | 2020-02-22  | 
    | 3           | 2            | 4            | 2020-02-25  | 
    +-------------+--------------+--------------+-------------+
    Output: 
    +--------------+
    | results      |
    +--------------+
    | Daniel       |
    | Frozen 2     |
    +--------------+
    Explanation: 
    Daniel and Monica have rated 3 movies ("Avengers", "Frozen 2" and "Joker") but Daniel is smaller lexicographically.
    Frozen 2 and Joker have a rating average of 3.5 in February but Frozen 2 is smaller lexicographically.

# Group By

In [ ]:
(select name as results
from MovieRating
join Users using(user_id)
group by user_id
order by count(movie_id) desc, name
limit 1)

UNION

(select title as results
from MovieRating
join Movies using(movie_id)
where month(created_at) = 2 and year(created_at) = 2020
group by movie_id
order by avg(rating) desc, title
limit 1)

# Window Function

In [ ]:
select name as results
from
(select name,
 row_number() over(order by count(movie_id) desc, name) as res_rank
from MovieRating
join Users using(user_id)
group by user_id) tab1
where res_rank = 1

UNION

select title as results
from
(select title, 
 row_number() over(order by avg(rating) desc, title) as res_rank
from MovieRating
join Movies using(movie_id)
where month(created_at) = 2 and year(created_at) = 2020
group by movie_id) tab2
where res_rank = 1