Problem Statement.

Table: Activity

<br/>+--------------+---------+
<br/>| Column Name  | Type    |
<br/>+--------------+---------+
<br/>| player_id    | int     |
<br/>| device_id    | int     |
<br/>| event_date   | date    |
<br/>| games_played | int     |
<br/>+--------------+---------+
<br/>(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.

 

Write a solution to report the device that is first logged in for each player.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Activity table:
<br/>+-----------+-----------+------------+--------------+
<br/>| player_id | device_id | event_date | games_played |
<br/>+-----------+-----------+------------+--------------+
<br/>| 1         | 2         | 2016-03-01 | 5            |
<br/>| 1         | 2         | 2016-05-02 | 6            |
<br/>| 2         | 3         | 2017-06-25 | 1            |
<br/>| 3         | 1         | 2016-03-02 | 0            |
<br/>| 3         | 4         | 2018-07-03 | 5            |
<br/>+-----------+-----------+------------+--------------+
<br/>Output: 
<br/>+-----------+-----------+
<br/>| player_id | device_id |
<br/>+-----------+-----------+
<br/>| 1         | 2         |
<br/>| 2         | 3         |
<br/>| 3         | 1         |
<br/>+-----------+-----------+

# GROUP BY AND JOIN

In [1]:
WITH first_login AS (
    SELECT 
        player_id,
        min(event_date) as first_login_date
    FROM Activity
    GROUP BY
        player_id
)
SELECT
    a.player_id,
    a.device_id
FROm Activity a
JOIN first_login f
ON a.player_id = f.player_id and a.event_date = f.first_login_date

# WINDOW FUNCTION

In [ ]:
WITH ranked_login AS (
    SELECT 
        player_id,
        device_id,
        RANK() OVER (PARTITION BY player_id ORDER BY event_date) AS rnk
    FROM
    Activity
)
SELECT
    player_id,
    device_id
FROM ranked_login
WHERE rnk = 1