Problem Statement.

Table: Activity

<br/>+--------------+---------+
<br/>| Column Name  | Type    |
<br/>+--------------+---------+
<br/>| player_id    | int     |
<br/>| device_id    | int     |
<br/>| event_date   | date    |
<br/>| games_played | int     |
<br/>+--------------+---------+
<br/>(player_id, event_date) is the primary key (column with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.

 

Write a solution to report for each player and date, how many games played so far by the player. That is, the total number of games played by the player until that date. Check the example for clarity.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Activity table:
<br/>+-----------+-----------+------------+--------------+
<br/>| player_id | device_id | event_date | games_played |
<br/>+-----------+-----------+------------+--------------+
<br/>| 1         | 2         | 2016-03-01 | 5            |
<br/>| 1         | 2         | 2016-05-02 | 6            |
<br/>| 1         | 3         | 2017-06-25 | 1            |
<br/>| 3         | 1         | 2016-03-02 | 0            |
<br/>| 3         | 4         | 2018-07-03 | 5            |
<br/>+-----------+-----------+------------+--------------+
<br/>Output: 
<br/>+-----------+------------+---------------------+
<br/>| player_id | event_date | games_played_so_far |
<br/>+-----------+------------+---------------------+
<br/>| 1         | 2016-03-01 | 5                   |
<br/>| 1         | 2016-05-02 | 11                  |
<br/>| 1         | 2017-06-25 | 12                  |
<br/>| 3         | 2016-03-02 | 0                   |
<br/>| 3         | 2018-07-03 | 5                   |
<br/>+-----------+------------+---------------------+
<br/>Explanation: 
For the player with id 1, 5 + 6 = 11 games played by 2016-05-02, and 5 + 6 + 1 = 12 games played by 2017-06-25.
For the player with id 3, 0 + 5 = 5 games played by 2018-07-03.
Note that for each player we only care about the days when the player logged in.

# JOIN

In [ ]:
SELECT
    a.player_id,
    a.event_date,
    SUM(b.games_played) AS games_played_so_far
FROM Activity a
JOIN Activity b
ON a.player_id = b.player_id
   AND a.event_date >= b.event_date
GROUP BY 1, 2

# WINDOW FUNCTION

In [4]:
SELECT
    player_id,
    event_date,
    SUM(games_played) OVER (PARTITION BY player_id ORDER BY event_date) AS games_played_so_far
FROM Activity a

In [5]:
instance = Solution()
instance.findPairs([1,2,4,4,3,3,0,9,2,3], 3)

2