Problem Statement.

Table: Cinema

<br/>+-------------+------+
<br/>| Column Name | Type |
<br/>+-------------+------+
<br/>| seat_id     | int  |
<br/>| free        | bool |
<br/>+-------------+------+
<br/>seat_id is an auto-increment column for this table.
Each row of this table indicates whether the ith seat is free or not. 1 means free while 0 means occupied.

 

Find all the consecutive available seats in the cinema.

Return the result table ordered by seat_id in ascending order.

The test cases are generated so that more than two seats are consecutively available.

The result format is in the following example.

 

Example 1:

Input: 
Cinema table:
<br/>+---------+------+
<br/>| seat_id | free |
<br/>+---------+------+
<br/>| 1       | 1    |
<br/>| 2       | 0    |
<br/>| 3       | 1    |
<br/>| 4       | 1    |
<br/>| 5       | 1    |
<br/>+---------+------+
<br/>Output: 
<br/>+---------+
<br/>| seat_id |
<br/>+---------+
<br/>| 3       |
<br/>| 4       |
<br/>| 5       |
<br/>+---------+

# DISTINCT

In [2]:
SELECT
    DISTINCT c.seat_id
FROM
    Cinema c
JOIN
    Cinema o
ON
    abs(c.seat_id - o.seat_id) = 1 AND c.free = 1 AND o.free = 1
ORDER BY
    c.seat_id

# JOIN

In [ ]:
SELECT
    c.seat_id
FROM
    Cinema c
LEFT JOIN
    Cinema prev
ON
    c.seat_id - 1 = prev.seat_id AND c.free = prev.free AND c.free = 1
LEFT JOIN
    Cinema next
ON
    c.seat_id + 1 = next.seat_id AND c.free = next.free AND c.free = 1
WHERE c.free = 1 AND (c.free = prev.free OR c.free = next.free)