Problem Statement.

Table: Employee

<br/>+-------------+------+
<br/>| Column Name | Type |
<br/>+-------------+------+
<br/>| id          | int  |
<br/>| salary      | int  |
<br/>+-------------+------+
<br/>id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.

 

Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
<br/>+----+--------+
<br/>| id | salary |
<br/>+----+--------+
<br/>| 1  | 100    |
<br/>| 2  | 200    |
<br/>| 3  | 300    |
<br/>+----+--------+
<br/>Output: 
<br/>+---------------------+
<br/>| SecondHighestSalary |
<br/>+---------------------+
<br/>| 200                 |
<br/>+---------------------+

Example 2:

Input: 
Employee table:
<br/>+----+--------+
<br/>| id | salary |
<br/>+----+--------+
<br/>| 1  | 100    |
<br/>+----+--------+
<br/>Output: 
<br/>+---------------------+
<br/>| SecondHighestSalary |
<br/>+---------------------+
<br/>| null                |
<br/>+---------------------+

# NOT IN

In [ ]:
SELECT 
    MAX(salary) AS SecondHighestSalary 
FROM Employee
WHERE salary NOT IN (
    SELECT 
        MAX(salary)
    FROM Employee
)

# Limit, Offset and IFNULL

In [ ]:
SELECT
    IFNULL(
      (SELECT DISTINCT Salary
       FROM Employee
       ORDER BY Salary DESC
        LIMIT 1 OFFSET 1),
    NULL) AS SecondHighestSalary