Problem Statement.

Table: Customers

<br/>+-------------+---------+
<br/>| Column Name | Type    |
<br/>+-------------+---------+
<br/>| id          | int     |
<br/>| name        | varchar |
<br/>+-------------+---------+
<br/>id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.

 

Table: Orders

<br/>+-------------+------+
<br/>| Column Name | Type |
<br/>+-------------+------+
<br/>| id          | int  |
<br/>| customerId  | int  |
<br/>+-------------+------+
<br/>id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.

 

Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Customers table:
<br/>+----+-------+
<br/>| id | name  |
<br/>+----+-------+
<br/>| 1  | Joe   |
<br/>| 2  | Henry |
<br/>| 3  | Sam   |
<br/>| 4  | Max   |
<br/>+----+-------+
<br/>Orders table:
<br/>+----+------------+
<br/>| id | customerId |
<br/>+----+------------+
<br/>| 1  | 3          |
<br/>| 2  | 1          |
<br/>+----+------------+
<br/>Output: 
<br/>+-----------+
<br/>| Customers |
<br/>+-----------+
<br/>| Henry     |
<br/>| Max       |
<br/>+-----------+

# LEFT JOIN

In [ ]:
SELECT 
    name AS Customers
FROM
    Customers c
LEFT JOIN Orders o
    ON c.id = o.customerid
WHERE o.customerid IS NULL

# NOT IN

In [ ]:
SELECT 
    name AS Customers
FROM
    Customers
WHERE id NOT IN (
    SELECT 
        customerId 
    FROM
        Orders
)